{% extends 'base.html' %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url("js/script.js") }}"></script>
<link rel="stylesheet" href="{{ static_url("style.css") }}">
{% end %}

{% block body %}
<h1>WebSocket Chat</h1>
<div id="msg-listen"></div>
<p><input type="text" id="msg"><input type="submit" value="Talk" id="msg-sender"><p>
{% end %}


