{% extends 'base.html' %}

{% block body %}
<h1>Welcome to WebSocket Chat</h1>
 <form method="POST" action="/chat">
     <p>Your name: <input type="text" name="guest_name" /></p>
     <p><input type="submit" value="Enter" /></p>
 </form>
{% end %}