<html>
  <head>
    <title>Tornado - Motor - ImageServer</title>
  <head>
  <body>
    <p>Send files to server</p>
    <form enctype="multipart/form-data" action="/image" method="POST">
      <input id="files" type="file" name="files" />
      <input id="send" type="submit" value="GO!" />
      <p>Images in Database</p>
      {% for img in images %}
          <p><img src={{ "/image/%s" % img }} /></p>
      {% end for %}
    </form>
  </body>
</html>
