{% extends 'base.html' %}

{% block body %}
    {% if msg %}
        <p><strong>{{ msg }}</strong></p>
    {% end %}
    <form action="/login" method="POST">
        <p>User <input type="text" id="user" name="user"></p>
        <p>Pass <input type="password" id="password" name="password"></p>
        <input type="submit" value="GO!">
    </form>
{% end %}