<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Tornado WebSocket Example</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ static_url("js/script.js") }}"></script>
    </head>
    <body>
        <p>Send: <input type="text" id="msg"><input type="submit" value="GO!" id="msg-sender"><p>
        <p>Listen: <div id="msg-listen"></div></p>
    </body>
</html>